@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>

@using WebBanHangOnline.Common

    @if (Model != null && Model.Any())
    {
<h4 style="padding-right:30px">GIỎ HÀNG: <span style="float:right;"><small>@Model.Count()</small></span></h4>
       
        var tongtien = decimal.Zero;
        <div style="border:1px solid #808080">
<table class="table">
    @foreach (var item in Model)
    {
    tongtien += item.TotalPrice;
        <tr>
            <td>@item.ProductName</td>
            <td>@item.SizeName</td>
            <td>@item.ColorName</td>
            <td>@item.Quantity</td>
            <td>@Common.FormatNumber(item.Price,0)</td>
        </tr>

    }
    <tr>
        <th colspan="4">Tổng tiền</th>
        <th>@Common.FormatNumber(tongtien, 0)</th>
    </tr>
</table>
            </div>
    }
    else
    {
        
    }
